@import 'tailwindcss';

@theme {
  --color-brand-bg: #f6f3ee;
  --color-brand-accent: #c6462f;
  --color-brand-text: #171512;
}

:root {
  --bg: #f6f3ee;
  --accent: #c6462f;
  --text: #171512;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--brand-bg);
  color: var(--brand-text);
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
}
